.main-app-container{
    background-size: cover;
    height: 100Vh;
    width: 80vw;
    margin: auto;
    background-color: #e8e4e3;
}
.nav-list-container{
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    background-color:#ff7a7a ;
    height: 20px;
    padding: 18px; 
}
.nav-item{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    margin: 25px;
}
.menu{
    width: 20px;
    height: 20px;
}
.top-page-container{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.lorem-container{
    width: 50%;
    height: 430px;
    padding: 10px;
    background-image: linear-gradient(to right, #fdf4d2, #ffccd4);
}
.lorem-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15px;
    margin-top: 50px;
}
.burger-image-container{
    width: 50%;
}
.burger-image{
    width: 100%;
    height: 450px;
}
.lorem-heading{
    font-size: 45px;
    letter-spacing: 5px;
    font-family: "Arial";
    font-weight: bold;
    margin-bottom: 30px;
}
.lorem-description{
    font-size: 16px;
    font-weight: none;
    font-family: "Arial", "Sans-serif";
    color: 	#625053;
    margin-bottom: 30px;
}
.click-me-button{
    color: #ffffff;
    width: 180px;
    height: 45px;
    padding: 20px;
    padding-bottom: 20px;
    background-color:#ff3352 ;
    font-size: 15px;
    text-align: center;
    border: none;
    margin-top: 30px;
}
.bottom-page-container{
    background-image: linear-gradient(to right, #fdf4d2, #ffccd4, #f099d9);
    display: flex;
    padding: 20px;
    height: 500px;
    margin-bottom: 20px;
}
.three-image-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 300px;
    padding: 10px;
    height: 430px;
    margin-top: 20px;
}
.rachel-bronzini-image{
    display: flex;
    flex-direction: column;
    margin: 9px;
}
.rachel{
    width: 200px;
    height: 200px;
    margin-bottom: 6px;
}
.bronzini{
    width: 200px;
    height: 200px;
}
.mister{
    width: 250px;
    height: 405px;
}
.card-container{
    width: 300px;
    height: 180px;
    background-color: #ff3352;
    padding: 20px;
}
.card-text{
    color: #311818;
    font-size: 13px;
    font-family: 'Arial', 'Sans-Serif';
    font-weight: 600;   
}
.card-heading{
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 4px;
    font-family: 'Arial';
}
.click{
    font-size: 13px;
    color: #311818;
    font-family: 'Arial';
    font-weight: 600;
    margin-right: 10px;
}
.arrow{
    font-size: 10px;
}

.lorem-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    height: 430px;
    margin-top: 20px;
}
.click-arrow{
    display: flex;
}