
@media only screen and (min-width: 1025px) {
.main-app-container{
    background-size: cover;
    height: 100Vh;
    width: 100vw;
    margin: auto;
    background-color: #e8e4e3;
    
}
}
.nav-list-container{
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    background-color:#ff7a7a ;
    height: 20px;
    padding: 18px;

}
.nav-item{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    margin: 25px;
}
.menu{
    width: 20px;
    height: 20px;
}
.top-page-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
   
}

.lorem-container{

    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #fdf4d2, #ffccd4);
}
.lorem-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-top: 50px;
}

.burger-image-container {
    flex: 1;
    display: flex;
    height: 100%; /* Set the height to 100% */
}
.burger-image {
    max-width: 100%;
    max-height: 100%; /* Set the max-height to 100% */
    height: auto;
}
.lorem-container {
    max-width: 50%; /* Set a maximum width for better readability on larger screens */
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.lorem-heading {
    font-size: 5vw; /* Use viewport units for font size to make it responsive */
    letter-spacing: 1vw; /* Use viewport units for letter spacing */
    font-family: "Arial";
    font-weight: bold;
    margin-bottom: 2vw; /* Use viewport units for margin */
}

.lorem-description {
    font-size: 1.5vw; /* Use viewport units for font size to make it responsive */
    font-weight: none;
    color: #625053;
    margin-bottom: 2vw; /* Use viewport units for margin */
}

.click-me-button {
    color: #ffffff;
    width: 40vw; /* Use viewport units for width */
    height: 10vw; /* Use viewport units for height */
    padding: 2vw; /* Use viewport units for padding */
    background-color: #ff3352;
    font-size: 1.5vw; /* Use viewport units for font size to make it responsive */
    text-align: center;
    border: none;
    margin-top: 2vw; /* Use viewport units for margin */
    
    
}
@media only screen and (min-width: 1025px) {
.bottom-page-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: auto;
    width: 100%;
            
}
}

.cont{
    display: flex;
    width: 50%;
}

.three-image-container {
    display: flex;
       
}

.rachel-bronzini-image {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    height: auto;
    object-fit: cover;
    }

.mister img {
    
    max-width: 250px;
    height: 100%;
    object-fit: cover;
  
}

/* .mister {
    width: 500px;
    height: 500px;
} */

.lorem-card-container {

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-container {
    width: 50%;
  
    background-color: #ff3352;
    padding: 20px;
    margin-top: 20px;
}

.card-text {
    color: #311818;
    font-size: 13px;
    font-family: 'Arial', 'Sans-Serif';
    font-weight: 600;
}

.card-heading {
    color: #000000;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: 'Arial';
    margin-top: 10px;
}

.click-arrow {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.click,
.arrow {
    font-size: 13px;
    color: #311818;
    font-family: 'Arial';
    font-weight: 600;
    margin-right: 10px;
}


@media only screen and (max-width: 1024px) {


 
    /* Styles for mobile devices */

    .lorem-container {
        max-width: 100%; /* Set a maximum width for better readability on larger screens */
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .top-page-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%; /* Set the height to 100% */
    }
    .lorem-heading {
        font-size: 8vw;
        letter-spacing: 2vw;
    }

    .lorem-description {
        font-size: 3vw;
    }

    .click-me-button {
        width: 80vw;
        height: 15vw;
        font-size: 3vw;
    }

    .bottom-page-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
     
                
    }
   
}

